<%- contentFor('title') %>サインアップ

<%- contentFor('body') %>
    <h1>ユーザー登録</h1>

    <form action="signup" method="post">

        <label for="id">ID</label>
        <% if (customItem.idError) { %>
        <p class="error"><%= customItem.idError %></p>
        <% } %>
        <% if (errors.id) { %>
            <% errors.id.forEach(function(msg) { %>
                <p class="error"><%= msg %></p>
            <% }); %>
        <% } %>
        <input type="text" name="id" id="id" value="<%= oldInput.id || '' %>">
        <br/>

        <label for="name">名前</label>
        <% if (errors.name) { %>
            <% errors.name.forEach(function(msg) { %>
                <p class="error"><%= msg %></p>
            <% }); %>
        <% } %>
        <input type="text" name="name" id="name" value="<%= oldInput.name || '' %>">
        <br/>

        <label for="password">パスワード</label>
        <% if (customItem.passwordError) { %>
            <p class="error"><%= customItem.passwordError %></p>
        <% } %>
        <% if (errors.password) { %>
            <% errors.password.forEach(function(msg) { %>
                <p class="error"><%= msg %></p>
            <% }); %>
        <% } %>
        <input type="password" name="password" id="password">
        <br/>

        <label for="confirmPassword">パスワード確認:</label>
        <% if (errors.confirmPassword) { %>
            <% errors.confirmPassword.forEach(function(msg) { %>
                <p class="error"><%= msg %></p>
            <% }); %>
        <% } %>
        <input type="password" id="confirmPassword" name="confirmPassword" >
        <br>

        <button type="submit">登録</button>
    </form>
