<%- contentFor('title') %>サインアップ

<%- contentFor('body') %>
<h3 class="hedding mx-auto">サインアップ</h3>
<form action="/auth/signup" method="post" class="mt-4 mx-auto d-flex flex-column align-items-center gap-3">
    <div class="field-block">
        <label for="id" class="form-label required">ID</label>
        <% if (customItem.idError) { %>
            <div class="error mb-2">
                <p><%= customItem.idError %></p>
            </div>
        <% } %>
        <% if (errors.id) { %>
            <div class="error mb-2">
                <% errors.id.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }); %>
            </div> 
        <% } %>
        <input type="text" name="id" id="id" value="<%= oldInput.id || '' %>" class="form-control" placeholder="例: user123" required>
    </div>

    <div class="field-block">
        <label for="name" class="form-label required">名前</label>
        <% if (errors.name) { %>
            <div class="error mb-2">
                <% errors.name.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }); %>
            </div> 
        <% } %>
        <input type="text" name="name" id="name" value="<%= oldInput.name || '' %>" class="form-control" placeholder="例: 山田 太郎" required autocomplete="username">
    </div>

    <div class="field-block">
        <label for="password" class="form-label required">パスワード</label>
        <% if (customItem.passwordError) { %>
            <div class="error mb-2">
                <p><%= customItem.passwordError %></p>
            </div> 
        <% } %>
        <% if (errors.password) { %>
            <div class="error mb-2">
                <% errors.password.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }); %>
            </div> 
        <% } %>
        <input type="password" name="password" id="password" class="form-control" placeholder="8文字以上で入力" required autocomplete="new-password">
        <small class="help-text text-muted">8文字以上で入力してください</small>
    </div>

    <div class="field-block">
        <label for="confirmPassword" class="form-label required">パスワード確認</label>
        <% if (errors.confirmPassword) { %>
            <div class="error mb-2">
                <% errors.confirmPassword.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }); %>
            </div> 
        <% } %>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="もう一度入力" autocomplete="new-password" required>
    </div>

    <button class="mt-1 d-block w-25   user-button btn btn-dark" type="submit">サインアップ</button>
</form>
