<%- contentFor('title') %>タスク編集

<%- contentFor('body') %>
<h3 class="hedding mx-auto mt-4">タスク編集</h3>
<form action="/task/edit/<%= customItem.task.id %>" method="post" class="mt-4 mx-auto d-flex flex-column align-items-center gap-3">
    <input type="hidden" name="_csrf" value="<%= customItem.csrfToken %>">
    <div class="field-block">
        <label for="title" class="form-label required">タイトル</label>
         <% if (errors.title) { %>
             <div class="error mb-2">
                 <% errors.title.forEach(function(msg) { %>
                     <p><%= msg %></p>
                 <% }); %>
            </div> 
        <% } %>
        <input type="text" name="title" id="title" value="<%= typeof oldInput.title !== 'undefined' ? oldInput.title : customItem.task.title %>" class="form-control" placeholder="例：買い物リストを作成する" required>
    </div>

    <div class="field-block">
        <label for="detail" class="form-label">詳細</label>
         <% if (errors.detail) { %>
            <div class="error mb-2">
                <% errors.detail.forEach(function(msg) { %>
                    <p class="error"><%= msg %></p>
                <% }); %>
            </div>
        <% } %>
        <textarea name="detail" id="detail" class="form-control" rows="4" placeholder="例：牛乳、卵、パンを忘れずに購入する"><%= typeof oldInput.detail !== 'undefined' ? oldInput.detail : customItem.task.detail %></textarea>
    </div>

    <div class="field-block">
        <label for="deadline" class="form-label required">期限</label>
         <% if (errors.deadline) { %>
            <div class="error mb-2">
                <% errors.deadline.forEach(function(msg) { %>
                    <p><%= msg %></p>
                <% }); %>
            </div> 
        <% } %>
        <input type="date" name="deadline" id="deadline" value="<%= typeof oldInput.deadline !== 'undefined' ? oldInput.deadline : customItem.task.deadline %>" class="form-control" required>
    </div>

    <div class="field-block mt-1 d-flex justify-content-end gap-3">
        <a href="/task/detail/<%= customItem.task.id %>" class=" d-block btn button  back-button">戻る</a>
        <button class="d-block btn btn-dark   button" type="submit">編集</button>
    </div>
    
</form>