<%- contentFor('title') %>タスク一覧

<%- contentFor('body') %>
    <h1>todo-app</h1>
    <form action="/task" method="get">
        <label for="search">検索</label>
        <input type="text" name="search" id="search" placeholder="タイトルを検索">
        <button type="submit">検索</button>
    </form>
    <ul>
        <% tasks.forEach(task => { %>
            <ul>
                <li><a href="/task/detail/<%= task.id %>"><%= task.title %></a></li>
                <li><%= task.deadline %></li>
            </ul>
        <% }) %>
    </ul>
