<%- contentFor('title') %>タスク追加

<%- contentFor('body') %>
<h1>タスク追加</h1>
<form action="/task/new" method="post" id="form">
    
    <label for="title">タイトル</label>
    <% if (errors.title) { %>
        <% errors.title.forEach(function(msg) { %>
            <p class="error"><%= msg %></p>
        <% }); %>
    <% } %>
    <input type="text" name="title" id="title" value="<%= oldInput.title || '' %>">
    <br/>

    <label for="detail">詳細</label>
     <% if (errors.detail) { %>
        <% errors.detail.forEach(function(msg) { %>
            <p class="error"><%= msg %></p>
        <% }); %>
    <% } %>
    <textarea name="detail" id="detail"><%= oldInput.detail || '' %></textarea>
    <br/>

    <label for="deadline">期限</label>
     <% if (errors.deadline) { %>
        <% errors.deadline.forEach(function(msg) { %>
                <p class="error"><%= msg %></p>
        <% }); %>
    <% } %>
    <input type="date" name="deadline" id="deadline" value="<%= oldInput.deadline || '' %>">
    <br/>

    <button type="submit">登録</button>
</form>
 <% if (errors && errors.length > 0) { %>
    <%=errors[0]%>
<% } %>
