<%- contentFor('title') %>タスク一覧

<%- contentFor('body') %>
    <div class="list-div mx-auto d-flex flex-column gap-3 ">
        <h5 class="hedding  mt-4 ">ようこそ <%= user.name %>さん</h5>
        <div class="d-search d-flex  gap-4">
            <form action="/task" method="get" class="flex-grow-1">
                <label for="search" class="form-label">検索</label>
                <div class="d-flex gap-3 ">
                    <input type="text" name="search" id="search" placeholder="タイトルを検索" value="<%= searchText %>" class="form-control search ">
                    <input type="hidden" name="sort" value="<%= sort === 'asc' ? 'asc' : 'desc' %>">
                    <input type="hidden" name="task-status" value="<%= delFlg === 1 ? 1 : 0 %>">
                    <button class=" d-block btn btn-dark text-nowrap   button" type="submit">検索</button>
                </div>
            </form>
            <div class="">
                <label for="search" class="form-label">ステータス</label>
                <div class="d-flex">
                    <a class="d-block btn  rounded-0  text-nowrap   button  <%= delFlg !== 1 ? 'text-white select-btn' : 'text-dark select-btn-no' %>" href="/task?task-status=0&sort=<%= sort === 'asc' ? 'asc' : 'desc' %><%= searchText !== '' ? `&search=${searchText}` : '' %>">未完了</a>
                    <a class="d-block btn  rounded-0 text-nowrap   button <%= delFlg === 1 ? 'text-white select-btn' : 'text-dark select-btn-no' %>" href="/task?task-status=1&sort=<%= sort === 'asc' ? 'asc' : 'desc' %><%= searchText !== '' ? `&search=${searchText}` : '' %>">完了</a>
                </div>
            </div>
        </div>
        
        <div class="scrollbar-wrapper  list-data p-0 m-0 d-flex flex-column gap-2 ">
            <% if (delFlg === 1) { %>
                <a class="d-block btn text-white  border-0 text-nowrap mb-1 ms-auto   button bg-red sm-link"  href="#">完了を取り消す</a>
            <% } else { %>
                <a class="d-block btn text-white  border-0 text-nowrap mb-1 ms-auto   button bg-red sm-link"  href="#">完了</a>
            <% } %>
            <ul class="task-ul pl-1<% if (tasks.length > 5) { %>mr-5<% } %> ml-4 d-flex align-items-end  p-0 pb-2 m-0 underline-black">
                <li class="w-4  text-center ">&#10004;</li>
                <li class="list-title px-2 ">タイトル</li>
                <li class="list-date px-2   list-date-title "><a class="interactive text-dark text-decoration-none" href="/task?sort=<%= sort === 'asc' ? 'desc' : 'asc' %>&task-status=<%= delFlg === 1 ? 1 : 0 %><%= searchText !== '' ? `&search=${searchText}` : '' %>">期限&nbsp;<img src="/img/arrow-circle-<%= sort === 'asc' ? 'up' : 'down' %>.svg" alt="ソートアイコン"></a></li>
                 <% if (delFlg === 1) { %>
                    <a class=" d-block btn text-white border-0 text-nowrap  md-link button bg-red comp-button-max"  href="#">完了を取り消す</a>
                <% } else { %>
                    <a class=" d-block btn text-white border-0 text-nowrap  md-link button bg-red comp-button-min"  href="#">完了</a>
                <% } %>
            </ul>
            <div class="tasks scroll-content d-flex flex-column gap-2 ">
            <% tasks.forEach(task => { %>
                <ul class="w-full  d-flex align-items-center p-0 m-0 underline-black pb-2">
                    <label class="pl-1 d-block d-flex align-items-center pointer"><input class="form-check-input d-block  checkbox-black pointer " type="checkbox" value="" id="flexCheckChecked"></label>
                    <li class="list-title px-2 "><a class="text-dark interactive" href="/task/detail/<%= task.id %>"><%= task.title %></a></li>
                    <%
                    const dateStr = task.deadline;
                    const date = new Date(dateStr);
                    const formatted = `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`; %>
                    <li class="list-date px-2 "><%= formatted %></li>
                     <% if (delFlg === 1) { %>
                        <li class="comp-button-max md-link"></li>
                    <% } else { %>
                        <li class="comp-button-min md-link"></li>
                    <% } %>
                </ul>
            <% }) %>
            </div>
        </ul>
    </div>
</div>


