<%- contentFor('title') %>タスク一覧

<%- contentFor('body') %>
    <h1>todo-app</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <ul>
                <li><a href="/task/detail/<%= task.id %>"><%= task.title %></a></li>
                <li><%= task.deadline %></li>
            </ul>
        <% }) %>
    </ul>
