<%- contentFor('title') %>タスク詳細

<%- contentFor('body') %>
<h1><%= task.title %></h1>
<p><%= task.detail %></p>
<p><%= task.deadline %></p>
<a href="/task/edit/<%= task.id %>">編集</a>
<a href="/task/delete/<%= task.id %>">削除</a>